{
  "branches": [
    "main",
    {
      "name": "1.0-prerelease",
      channel: "v1-rc",
      "prerelease": "rc"
    }
  ],
  "debug": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run pkg"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "bin/*"
        ]
      }
    ]
  ]
}
