language: node_js
node_js:
- 10
- 12
cache:
  npm: false
script:
- npm run test-travis
- npm run lint
after_success:
- npm run report-coverage
deploy:
- provider: script
  skip_cleanup: true
  script: npx semantic-release
  on:
    node: 12
    repo: IBM/openapi-validator
